/* Write your CSS here */
.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}
li {
  list-style-type: none;
}

.name {
  color: #000000;
  align-self: flex-start;
}

button {
  cursor: pointer;
  outline: none;
  border: 1px solid #ff0b37;
  border-radius: 8px;
  color: #ff0b37;
  background-color: #ffffff;
  padding: 10px;
  align-self: flex-start;
}
