/* Write your CSS here */
.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

li {
  list-style-type: none;
}
.edit-input {
  width: 90%;
  padding: 5px;
  margin-left: 0px;
}
.edit-cont {
  width: 75%;
}
.check-cont {
  display: flex;
  align-items: center;
  width: 75%;
}

.name {
  color: #000000;
  align-self: flex-start;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: 1px solid #ff0b37;
  border-radius: 8px;
  color: #ff0b37;
  background-color: #ffffff;
  padding: 10px;
  align-self: flex-start;
}
.checkbox {
  border: 2px solid;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}
.checked {
  text-decoration: line-through;
}

.save-butn {
  margin-right: 10px;
  border: none;
  background-color: #ff0b37;
  color: #ffffff;
}
@media (max-width: 576px) {
  .cont {
    font-size: 15px;
  }
  button {
    padding: 5px;
  }
}
